<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>

    <style>
      span {
        color: blue;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div><span><%= userInfo.name%></span>님 환영합니다.</div>

    <div>고객님의 성별은<span><%= userInfo.gender%></span> 이군요 !</div>

    <div>
      고객님의 생년월일은 <span><%= userInfo.year%></span>년
      <span><%= userInfo.month%></span>월 <span><%= userInfo.day%></span>월
      이군요 !
    </div>

    <% if(userInfo.hobby){ %>
    <div>고객님의 취미는 <span><%= userInfo.hobby$></span> 이군요!</div>
    <% } %>

    <div>
      고객님의 좋아하는 색상은 <span><%= userInfo.color%></span> 이군요!
    </div>
    <div>
      고객님의 좋아하는 숫자는<span><%= userInfo.number%></span> 이군요 !
    </div>
    <% } %>
  </body>
</html>
