<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head', {title})
    <title>메인 페이지</title>

    <!-- bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./includes/header') %>
    <h1>Hello! Express!!</h1>
    <p>안녕하세요~~~~~<%= userID%>님 환영합니다</p>
    <p><%= userID %>님의 비밀번호는 <%=userPW %>이시죠?ㅎㅎ</p>
    <% for (let i = 0; i < 5; i++) { %>
    <div>하이하이!!!!!!!!</div>
    <% } %>
    <h2><%= userID %></h2>

    <% for (let btn of btns ) { %>
    <button type="button" class="btn btn-primary">버튼</button>
    <% } %>

    <a href="/sesac">새싹</a>

    <br />
    <span><%= me.name %></span>
    <span><%= me.msg %></span>

    <br />
    <% if (!isLogin) { %>
    <h4>아직 로그인을 하지 않으셨군요!</h4>
    } <% } else { %>
    <h4>로그인을 하셨군요!</h4>
    } <%} %>
  </body>
</html>
